/* NAVBAR */
.navbar {
  background: #1ad8ac;
  padding: 15px 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color: #c010d7;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: #c010d7;
  font-size: 18px;
}

.nav-actions {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-input {
  padding: 7px 10px;
  border-radius: 6px;
  border: none;
}

.cart-btn {
  background: #c010d7;
  color: white;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

/* PRODUCT GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px;
}

/* CARD */
.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  margin-top: 12px;
}

.card-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

/* BUTTONS */
.btn-primary {
  background: #1ad8ac;
  color: #fff;
  padding: 10px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.btn-primary:hover {
  background: #12b88f;
}
