/* NAVBAR */
.navbar {
  background: #d2aa71; 
  padding: 18px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

.modern-logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 28px;
  font-weight: 600;
  color: white;
}

.modern-logo img {
  width: 50px;
  height: 50px ;
  border-radius: 50%;
}



.nav-links {
  display: flex;
  gap: 35px;
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 25px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links li a:hover {
  color: rgb(193, 125, 37);
  transform: translateY(-2px);
}

/* NAV ACTIONS */
.nav-actions {
  display: flex;
  gap: 20px;
  align-items: center;
}

/* SEARCH BOX */
.search-box {
  position: relative;
}

.search-box input {
  padding: 10px 40px 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  outline: none;
  width: 180px;
  transition: 0.3s;
}

.search-box input:focus {
  width: 230px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}

.search-box i {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #555;
}
/*Select Box*/
.Select-Box select{
  padding: 10px 40px 10px 15px;
  border-radius: 25px;
  border: none;
  font-size: 15px;
  outline: none;
  width: 200px;
}



/* CART BUTTON */
.cart-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  background: white;
  color: rgb(193, 125, 37);
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}

.cart-btn i {
  font-size: 18px;
}

.cart-btn:hover {
  background: #fbe9d0;
  transform: translateY(-2px);
}


/* PRODUCT GRID */
.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  padding: 25px;
}

/* CARD */
.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.1);
}

.product-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  margin-top: 12px;
}

.card-desc {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.price {
  font-weight: bold;
  margin-bottom: 10px;
}

/* BUTTONS */
button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  background-color: burlywood;
  padding: 1em 2em;
  border: none;
  border-radius: .6rem;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

button span:not(:nth-child(6)) {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 30px;
  width: 30px;
  background-color:rgb(193, 125, 37);
  border-radius: 50%;
  transition: .6s ease;
}

button span:nth-child(6) {
  position: relative;
}

button span:nth-child(1) {
  transform: translate(-3.3em, -4em);
}

button span:nth-child(2) {
  transform: translate(-6em, 1.3em);
}

button span:nth-child(3) {
  transform: translate(-.2em, 1.8em);
}

button span:nth-child(4) {
  transform: translate(3.5em, 1.4em);
}

button span:nth-child(5) {
  transform: translate(3.5em, -3.8em);
}

button:hover span:not(:nth-child(6)) {
  transform: translate(-50%, -50%) scale(4);
  transition: 1.5s ease;
}
.cart-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-modal {
  background: white;
  padding: 20px;
  width: 450px;
  border-radius: 10px;
  max-height: 80vh;
  overflow-y: auto;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.cart-img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  border-radius: 8px;
}

.cart-info h4 {
  margin: 0;
}

.qty-controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.qty-controls button {
  padding: 5px 10px;
}

.delete-btn {
  background: burlywood;
  color: white;
  padding: 10px 16px;
  border-radius: 25px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.delete-btn:hover {
  background: #fbe9d0;
  transform: translateY(-2px);
}


.total {
  text-align: right;
  margin-top: 20px;
}
checkout-overlay{
 position: fixed;
 top: 0;
 left: 0;
 width: 100vh;
 height: 100vh;
 background-color: rgba(0, 0, 0, 0.5);
 display: flex;
 justify-content: center;
 align-items: center;
 z-index: 1000;
}
.checkout-overlay {
  position: fixed;      
  top: 0;
  left: 0;
  width: 100vw;
  margin-top: 25px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1000;      
}

.checkout-form {
  background: rgba(255, 255, 255, 0.85);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 500px;
  box-shadow: 0 0.3125rem 0.9375rem rgba(0,0,0,0.3);
  backdrop-filter: blur(5px); 
}

.checkout-form h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.checkout-form form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.checkout-form input {
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.checkout-form button {
  padding: 0.7rem;
  background-color: burlywood;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-form button:hover {
  background-color: burlywood;
}
.pagination {
  display: flex;
  justify-content: center; 
  align-items: center;
  gap: 20px;
}

.page-count {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}



.app.dark {
  background-color: #ddd8d8;
  color: #1d1d1d;
}

.app.dark .navbar {
  background-color: #333;
  color: white;
}

.app.dark .theme-btn {
  background-color: #666;
  color: white;
}
.app.dark button{
  background: rgb(133, 128, 128);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}





  
