.header {
  text-align: center;
  padding: 20px;
  background-color: #1ad8ac;
  color: #c43bbb65;
}

.header img {
  width: 80px;
}
nav ul {
  display: flex;
  justify-content: center;
  gap: 25px;
  list-style: none;
  padding: 15px;
  background: #1ad8ac;
}
nav ul li a {
  text-decoration: none;
  color: #c43bbb65;
  font-size: 25px;
}
nav ul li a:hover {
  text-decoration: underline;
}
.cards-container {
  display: flex;              
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}



.card {
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  width: 260px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}


.details-table {
  width: 100%;
  margin-top: 10px;
  border-spacing: 0 10px;
}

.details-table td {
  padding: 6px 0;
  font-size: 15px;
}

.details-table .label {
  font-weight: bold;
  color: #333;
}
.btn {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin: 10px;
}

.btn-primary {
  background-color: #ea3690;
  color: white;
}

.btn-secondary {
  background-color: #e4e4e7;
  color: #333;
}

.btn-danger {
  background-color: #44d8ef;
  color: #fff;
}

.btn-danger:hover {
  background-color: #dc2626;
}


footer p {
  text-align: center;
  font-style: italic;
  padding: 15px;
  background-color: #1ad8ac;
}
